.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 0px;
}

.text-group {
  width: 600px; /* match SVG width */
  padding-left: 22px; /* align with x = marginSides */
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.hero-text {
  gap: 8px;
  padding-bottom: 8px;
}

.meta-text {
  gap: 2px; /* smaller spacing */
}

.source {
  font-size: 12px;
  color: #666;
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}
